## 灵感来源
“今天公司上下都很开心，每个人都收到了888元的大红包，包括劳务派遣工。”

据多家媒体爆料，8月28日早上8点28分，顺丰的每一位员工，都收到了总裁王卫发来的888元慰问金，包括速运、科技、金融等各板块的人员规模测算，王卫这次发的红包将超过5亿元！而且是自掏腰包。

而就在几日前，顺丰控股披露的半年报显示，上半年实现净利润37.6亿元，同比增长21.35%；上半年的速运物流业务件量36.55亿票，同比增长81.3%，远高于22.1%的行业增长率，实现了逆势增长。

半年报发布的当天，顺丰控股便一字涨停，今日王卫给员工发红包后，公司的股价在盘中再次涨停，收报87.58元，较年初翻了一倍。

### 总结:
1. 利润实现 21.35% 的增长,
2. 如何提前获得报表数据
3. 如果不能提前获得报表数据, 可以观察报表发布前一天的数据,看看是否有特殊性.

In [1]:
# 这套东西几乎是必须读取的.

import math
import datetime
import multiprocessing as mp
import tushare as ts
import os
import numpy as np
import pandas as pd
import datetime
p = print
# tushare 的初始化
token = '1212fb28fdc360c768e0bd5fca52afa9c8136809afad540f8cf11bc8'
pro = ts.pro_api(token)
# 获取当前上市公司列表，包括股票代码，注册地，行业，上市时间等数据
basic = pro.stock_basic(list_status = 'L')
# 这个 cell 是必须要载入的

       ts_code  symbol  name area industry market list_date
800  002352.SZ  002352  顺丰控股   深圳     仓储物流    中小板  20100205

In [11]:
shunfeng_tscode = basic[basic['name'] == '顺丰控股'].iloc[0]['ts_code']
# 顺丰的 ts_code
p(shunfeng_tscode)
# 财报披露计划 : 
# end_date	str	N	财报周期（比如20181231表示2018年年报，20180630表示中报)
# pre_date	str	N	计划披露日期
# actual_date	str	N	实际披露日期
financialstate_df = pro.disclosure_date(ts_code = '002352.SZ'  ,end_date='20200630')
p(financialstate_df)

002352.SZ
     ts_code  ann_date  end_date  pre_date actual_date
0  002352.SZ  20200630  20200630  20200826        None
1  002352.SZ  20200630  20200630  20200826    20200826

In [13]:
# 利润表: income statement

income_df = pro.income(ts_code='002352.SZ', start_date='20180101', end_date='20201201', fields='ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps')
income_df

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps
0,002352.SZ,20200826,20200826,20200630,1,1,0.85,0.85
1,002352.SZ,20200424,20200424,20200331,1,1,0.21,0.21
2,002352.SZ,20200324,20200324,20191231,1,1,1.32,1.32
3,002352.SZ,20191026,20191026,20190930,1,1,0.98,0.98
4,002352.SZ,20191026,20191026,20190930,1,1,0.98,0.98
5,002352.SZ,20190828,20190828,20190630,1,1,NaN,NaN
6,002352.SZ,20190828,20190828,20190630,1,1,0.70,0.70
7,002352.SZ,20190424,20190424,20190331,1,1,0.29,0.29
8,002352.SZ,20190424,20190424,20190331,1,1,0.29,0.29
9,002352.SZ,20190316,20190316,20181231,1,1,1.03,1.03
10,002352.SZ,20181027,20181027,20180930,1,1,0.69,0.69
11,002352.SZ,20180824,20180824,20180630,1,1,0.51,0.51
12,002352.SZ,20180427,20180427,20180331,1,1,0.23,0.23
13,002352.SZ,20180314,20180314,20171231,1,1,1.12,1.12